/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.client-card {
  width: 33.333%;
}

.client-card {
  float: left;
}

.client-card img {
  display: block;
  max-width: 100%;
}

.client-card__logo {
  max-width: calc(100% - 56px);
}
.client-card__logo svg {
  max-width: 100%;
  height: auto;
}





.clients:after {
  content: '';
  display: block;
  clear: both;
}
.clients .client-card {
  float: left;
} 

@media (max-width: 767px) {
  .clients .grid-sizer,
  .clients .client-card {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .clients {
    margin-left: var(--spacing-s-neg);
    margin-right: var(--spacing-s-neg);
  }
  .clients .grid-sizer,
  .clients .client-card {
    width: 50%;
  }
  .clients .client-card:nth-child(2n + 2) {
    padding-left: var(--spacing-s);
    padding-right: 35px;
  }
  .clients .client-card:nth-child(2n + 1) {
    padding-left: 35px;
    padding-right: var(--spacing-s);
  }
}
@media (min-width: 1280px) {
  .clients {
    margin-left: -32px;
    margin-right: -32px;
    margin-top: var(--spacing-xs);
  }
  .clients .grid-sizer,
  .clients .client-card {
    width: 33%;
  }
  .clients .client-card {
    padding-left: 32px;
    padding-right: 32px;
  }
}