.challenge-section .image-text {
  flex-direction: row-reverse;
}


.section.testimonials {
  background-color: var(--deep-green);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-image: url(../../lib/assets/images/caseStudy/testtimonials-bg.svg);
  color: var(--white);
}
.testimonials__meta {
  margin-top: var(--spacing-s);
  font-size: 18px;
  display: inline-flex;
  gap: var(--spacing-s);
}

@media (max-width: 991px) {
  .challenge-section .image-text {
    flex-direction: column-reverse;
  }
  .challenge-section .image-text__col--text {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .challenge-section .image-text__col--text {
    padding-bottom: 0;
  }
  .testimonials.section {
    padding-top: var(--spacing-2xl);
    padding-bottom: var(--spacing-2xl);
  }
}
@media (min-width: 992px) {
  .challenge-section .image-text {
    flex-direction: row-reverse;
  }
}
@media (min-width: 992px) and (max-width: 1279px) {
  .testimonials.section {
    padding-top: calc(2 * var(--spacing-l));
    padding-bottom: calc(2 * var(--spacing-l));
  }
}
@media (min-width: 1280px) {
  .testimonials.section {
    padding-top: calc(2 * var(--spacing-2xl));
    padding-bottom: calc(2 * var(--spacing-2xl));
  }
  .solution-section .image-text__col--img {
    justify-content: flex-start;
  }
  .solution-section .image-text__col--text {
    padding-right: 0;
  }
  .challenge-section .image-text__col--text {
    padding-left: 0;
  }
}