.services .top-section {
  transition: all 0.3s;
  background-color: light-dark(var(--white-pale), var(--dark-bg));
}

.logos {
  position: relative;
  overflow: hidden;
  margin-top: var(--spacing-m);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.5s;
}
.logos__item {
  display: block;
  border: 1px solid var(--cool-gray);
  border-radius: var(--border-radius-card);
}
.logos__img {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}
.logos__img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.logos__btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 1px;
  display: flex;
  justify-content: center;
  padding-top: var(--spacing-m);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
  transition: all 0.5s;
}
.dark .logos__btn {
  background: linear-gradient(180deg, rgba(16, 15, 8, 0) 39.48%, rgba(16, 15, 8, 1) 100%);
}
.logos__btn.hidden {
  opacity: 0;
  z-index: -1;
}

@media (max-width: 1279px) {
  .logos {
    gap: var(--spacing-xs);
  }
}
@media (max-width: 767px) {
  .logos {
    padding-bottom: 56px;
  }
  .logos__item {
    width: calc(33% - var(--spacing-xs)*0.75);
  }
  .logos__img img {
    max-width: 55px;
    max-height: 55px;
    width: auto;
  }
  .logos__btn {
    padding-top: var(--spacing-2xl);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 50%,  rgba(255, 255, 255, 1) 100%)
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .logos {
    padding-left: var(--spacing-l);
    padding-right: var(--spacing-l);
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .logos__item {
    width: calc(25% - var(--spacing-xs)*0.75);
  }
}
@media (min-width: 1280px) {
  .logos {
    gap: var(--spacing-s);
  }
  .logos__item {
    width: calc(25% - var(--spacing-s)*0.75);
  }
}
