.contact-data li {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  margin-top: var(--spacing-m);
}
.contact-data a {
  position: relative;
  font-weight: 800;
  color: inherit;
  font-size: 24px;
}
.contact-data a:after {
  content: '';
  position: absolute;
  left: 0;
  right: 100%;
  background-color: var(--orange);
  transition: right 0.3s;
  height: 2px;
  bottom: 0;
}
.contact-data a:hover {
  color: var(--orange);
}
.contact-data a:hover:after {
  right: 0;
}
.contact-data__icon {
  width: 24px;
  display: flex;
  align-items: center;
}
.contact-data__icon img {
  display: block;
}

.speak-with {
  max-width: 450px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: light-dark(var(--white), #2D2D2D);
}
.speak-with__text {
  position: relative;
  z-index: 2;
  width: 250px;
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
  padding-left: var(--spacing-s);
}
.speak-with .text-black {
  font-size: 24px;
  letter-spacing: -0.01em;
  line-height: 1;
}
.speak-with .text-family {
  font-size: 15px;
}
.speak-with__photo {
  position: absolute;
  right: 0;
  bottom: 0;
  flex-shrink: 0;
  margin-top: -30px;
}
.speak-with__photo img {
  display: block;
}

@media (max-width: 991px) {
  .speak-with {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 480px) {
  .speak-with__text {
    padding-left: var(--spacing-xs);
  }
  .speak-with__photo {
    width: 175px;
  }
}
@media (min-width: 992px) and (max-width: 1279px) {
  .contact .section__content {
    width: 420px;
  }
}