.section.intro {
  padding-bottom: 0;
}
.mission__values {
  max-width: 950px;
}
@media (max-width: 991px) {
  .mission__cards {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    text-align: center;
  }
}
@media (min-width: 992px) {
  .mission__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-m);
  }
}
@media (min-width: 1280px) {
  .intro .section__content {
    gap: var(--spacing-l);
  }
  .mission__cards {
    display: grid;
    gap: var(--spacing-l) var(--spacing-2xl);
  }
}