@import '../src/lib/assets/css/variables.css';
@import '../src/lib/assets/css/typothraphy.css';
:root {
  color-scheme: light dark;
  --light-bg: var(--white);
  --light-color: var(--text-dark);
  --dark-bg: var(--text-dark);
  --dark-color: var(--text-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Soehne', sans-serif;
  font-weight: 400;
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-color), var(--dark-color));
  transition: color 0.3s, background-color 0.3s;
}

.container {
  max-width: 1218px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
}
.container--small {
  max-width: 923px;
}

.row {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}
.direction-flex-colimn {
  display: flex;
  flex-direction: column;
}
.align-flex-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  padding-left: 24px;
  padding-right: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  text-decoration: none;
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
}
.btn.btn--primary {
  background-color: var(--orange);
  color: var(--text-white-btn);
  border-color: var(--orange);
}
.btn--secondary {
  background-color: var(--teal);
  color: var(--deep-navy);
  border-color: var(--teal);
}
.btn--outline {
  border-color: inherit;
  color: inherit;
  background-color: transparent;
}

.buttons {
  display: flex;
  align-items: center;
}


.section {
  display: flex;
  flex-direction: column;
}
.section--green {
  background-color: var(--deep-green);
  color: var(--white);
}
.section--solved {
  background: url(./lib/assets/images/bg/sovled-section.svg) no-repeat 0 100%;
}
.section__content {
  display: flex;
  flex-direction: column;
}
.text-center .section__content {
  align-items: center;
}

.hero-section {
  position: relative;
  background-color: var(--deep-navy);
  color: var(--white);
}
.hero-section__img {
  position: absolute;
  right: 0;
  top: 0;
}

.two-columns-text {
  display: flex;
}

@media (max-width: 1279px) {
  .desktop-visible {
      display: none;
  }
  .btn {
      height: 45px;
  }

  .section__content {
      gap: var(--spacing-s);
  }
}
@media (max-width: 991px) {
  .two-columns-text {
    flex-direction: column;
    gap: var(--spacing-s);
  }
}
@media (max-width: 767px) {
  .mobile-hidden {
    display: none !important;
  }
  .section {
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
    gap: var(--spacing-s);
  }
  .hero-section {
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
  }

  .buttons {
    gap: var(--spacing-xs);
  }
}
@media (min-width: 768px) {
  .buttons {
    gap: var(--spacing-s);
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .section {
    padding-top: var(--spacing-l);
    padding-bottom: var(--spacing-l);
    gap: var(--spacing-l);
  }
  .hero-section {
    padding-top: calc(1.5 * var(--spacing-m));
    padding-bottom: var(--spacing-xl);
  }
}
@media (min-width: 992px) {
  .two-columns-text {
    gap: var(--spacing-l);
  }
  .two-columns-text p {
    flex: 1;
  }
}
@media (min-width: 1280px) {
  .btn {
      height: 56px;
  }

  .hero-section {
      padding-top: var(--spacing-l);
      padding-bottom: var(--spacing-2xl);
  }
  .section {
      padding-top: var(--spacing-2xl);
      padding-bottom: var(--spacing-2xl);
      gap: var(--spacing-2xl);
  }
  .section__content {
      gap: var(--spacing-m);
  }
}
